extends layout 
head
    block style
        link(href='/css/create.css', rel='stylesheet')
block content
    h1 create
    .addplantbox
        canvas#c(style="display:none")
        form#addPlantForm(action="/create", method="POST")
            lable(for="myImage")
                span what is the name?
                br
                input#name(type="text", name="name")
                br
                span what photo?
                img#mypic(src="/images/letter.jpg", width=300, height=300)
                br
                span who is on the list ?
                br
                input#guests(name="guests" type="text")
                input(type="submit" value="Save")
            script.
                addUploadListener();
            





    
    