extends layout 
head
    block style
        link(href='/css/create.css', rel='stylesheet')
block content
    h1 create
    .addplantbox
        canvas#c(style="display:none")
        form#addPlantForm(action="/addPlant", method="POST")
            lable(for="myImage")
                span what is the name?
                br
                input#name(type="text", name="name")
                br
                span what photo?
                img#mypic(src="/images/letter.jpg", width=300, height=300)
                input(type="file"  id="myImage" accept="image/png, image/gif, image/jpeg")
                br
                span who is on the list ?
                br
                input#toone(name="toone" type="text")
                input#imageData(name="imageData" type="hidden")
                input(type="submit" value="Save")
            script.
                addUploadListener();
            





    
    