extends layout 
head
    block style
        link(href='/css/list.css', rel='stylesheet')

block content
    h1 list
    .cover
        .item
            .background
                span create new
                img(src="/images/plus.jpg" width="80px" height="80px")
            .add-btn
                a(href ="/create") create
    .cover
        each party in partyList
            .item
                .background
                    img(src="/images/letter.jpg" width="80px" height="80px")
                .text 
                    div #{party.name}
                .add-btn
                    a(href='/party?id=#{party.id}', target="_blank") view

   