extends layout 
head
    block style
        link(href='/css/register.css', rel='stylesheet')
block content
    .container
        form#registerForm( action='/register', method='POST')
            h1  Register
            div#error.error
                if message
                    p #{message}
            #registerForm
                span UserName
                input(type="text",id='name', name="name")
            #registerForm
                span Password
                input(type="password",id='password', name="password")
            #registerForm
                span Comfirm Password
                input(type="password",id='cpassword', name="cpassword")
            ul 
                li
                    #signup
                        input(type="submit", id='submit',name='submit' value="Sing Up")
                li
                    .add-btn 
                        a(href="/login") Log IN
              
script. 
    document.getElementById("registerForm").addEventListener('submit', validateRegisterForm);
