*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height:100%;     
    padding-top: 20px;
    padding-bottom: 20px;
    background:white;
}
.nav .text p {
    position: absolute;
    width: 322px;
    height: 82px;
    left: 51px;
    top: 30px;
    font-family: 'Damion';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 82px;
    color: #000000;   
}
.nav ul.topright {
    float: right;
    margin-top: -28px;
    margin-right: 20px;
}
.bigBoy{
    position: absolute;
    width: 700px;
    height: 871px;
    left: -89px;
    top: 584px;
}
.canduCane
{
    position: absolute;
    width: 794px;
    height: 1059px;
    left: 870px;
    top: -64px;
}